.cause_container {
    color: #ffffff;
    margin: 29px 0;
    background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
    padding-bottom: 15px;
}
.cause_container .left_container h2 {
    text-align: center;
    margin: 30px 0;
    position: relative;
    padding-top: 20px;
}
.cause_container .left_container h2::after {
    content: ''; 
    display: block; 
    width: 75%; 
    height: 0.3px; 
    background-color: rgb(150, 201, 242); 
    position: absolute; 
    left: 12%;
    margin-top: 12px;
}
.cause_container .right_container h2::after {
    content: ''; 
    display: block; 
    width: 80%; 
    height: 0.3px; 
    background-color: rgb(150, 201, 242); 
    position: absolute; 
    left: 10%;
    margin-top: 12px;
}
.card_container {
    margin: 0 auto;
}
.right_container h2{
    text-align: center;
    margin: 30px 0;
}
.featured_card_container {
    width: 80%;
    margin: 0 auto;
}

.donate_btn {
    background-color: #ff5900;
    border: none;
    display: block;
    height: 30px;
    width: 130px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-top: 5px;
    margin: 20px auto;
    margin-top: 34px;
    
}
.donate_btn:hover {
    background-color: #fff;
    outline: #ff5900;
}
.featured_card {
    background-color: #ECECEC !important;
    box-shadow: 0px 0px 5px 2.5px rgba(192, 190, 190, 0.31) !important;
}

@media (min-width : 768px) {
    .cause_container {
        display: flex;
        justify-content: space-between;
       
    }
    .featured_card_container {
        width: 40%;
        margin: 0;
        margin-right: 36px;
    }
    .cause_container .right_container h2::after {
        content: ''; 
        display: block; 
        width: 28%; 
        height: 0.3px; 
        background-color: rgb(150, 201, 242); 
        position: absolute; 
        left: 64.1%;
        margin-top: 12px;
    }
    .cause_container .left_container h2::after  {
        width: 70%;
        left: 15%;
    }
    .right_container {
        margin-right: 50px;
        padding-top: 20px;
    }
    .cause_container  h2 {
        text-align: start;
    }
    .cause_container .left_container h2 {
        text-align: start;
        padding-left: 86px;
    }
    .donate_btn {
        padding-top: 5px;
        padding-left: 17px;
        border: 1.9px solid #ff5900;
        margin-right: 30px;
    }
    .featured_card {
        background-color: #f0f0f0 !important;
        width: 300px !important ;
        height: 320px !important;
        box-shadow: 0px 0px 5px 2.5px rgba(197, 197, 197, 0.31) !important;
    }
}