.newsWrapper_container {
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}
.newsWrapper_container h1::after {
    content: '';
    display: block;
    width: 91%;
    height: 0.5px;
    margin: 10px auto;
    margin-top: 5px;
    background-color: #f1efef;
}
@media (min-width:768px) {
    .newsWrapper_container {
        margin: 0 auto;
        margin-bottom: 20px;
        width: 92%; 
    }
    .news_container {
        width: 100%;
        display: flex;
        margin-left: 53px;
        justify-content: space-between; 
    }
}