.newsWrapper_container {
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}
.newsWrapper_container h1::after {
    content: '';
    display: block;
    width: 85%;
    height: 0.5px;
    margin: 10px auto;
    margin-top: 5px;
    background-color: #dedede;
}
@media (min-width:768px) {
    .news_container {
        width: 92%;
        display: flex;
        margin: 0 auto;
        margin-left: 80px;
    }
}