.carousel_container {
    height: 100vh;
    position: relative;
}
.carousel_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_item img {
    height: 270px;
    width: 100%;
    object-fit: cover; 
}
/* bottom buttons*/
.dot {
    width: 10px;            
    height: 10px;          
    background-color: rgb(167, 231, 252); 
    border-radius: 50%;     
    display: inline-block;   
    margin-left: 15px;       
    cursor: pointer;         
    transition: background-color 0.3s;
}

.dot.selected {
    background-color: rgb(0, 149, 255);   
}

.dot:hover {
    background-color: rgb(0, 149, 255); 
}
.welcome_text {
    color: rgb(15, 164, 151);
    position: absolute;
    top: 70px;
    left: 16px;
    font-size: 11px;
    width: 90vw;
    text-align: center;
    background: linear-gradient(to right,#39d8de , #0068c3);
    background-clip: text;
    color: transparent;
}
.sccma_description {
    display: none;
}
@media screen and (min-width:768px) {
.carousel_container {
    overflow: hidden;
}
.carousel_item img {
    height: 510px;
}
/* carousel text styles */
.welcome_text {
    top: 110px;
    left: 65px;
    font-size: 22px;
    width: 51vw;
}
.sccma_description {
    position: absolute;
    top: 230px;
    left: 80px;
    background-color: #000000a5;
    color: #ece9e9;
    width: 673px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    font-size: 19px;
}
.sccma_description p {
    padding: 34px;
}
}