.footer_container {
    background-color: #000000;
    height: 280px;
    width: 100%;
    color: rgb(193, 195, 197);
}
.logo {
    width: 80px;
    display: block;
    margin: 0 auto;
    padding: 12px 0;
}
.top_footer_wrapper:first-child p {
    font-size: 15px;
    width: 280px;
    text-align: center;
    margin: 0 auto;
}
.top_footer_wrapper>div:nth-child(2) , .top_footer_wrapper>div:nth-child(3) {
    display: none;
}
.footer_links_container{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links_container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 10px;
}

.links_container a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #005190;
    
}
.links_container a:hover {
    background-color: rgb(255, 52, 7);
}
.links_container svg {
    color: #fff;
    font-size: 22px;
}
.search_bar {
    padding: 10px 0;
}
.search_bar input{
    border-radius: 30px;
    width: 270px;
    height: 27px;
    padding: 0 9px;
    border: none;
}
.search_bar input:focus {
    outline: 2px solid rgb(255, 81, 0);
}
.copyright_text {
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
} 
.top_footer_wrapper ul a li:hover {
    text-decoration: underline;
}
.links a li {
    font-size: 14px;
}
/*desktop display */
@media screen and (min-width:768px) {
.footer_container {
    height: 270px;
    padding-top: 10px;
}
.top_footer_wrapper {
    display: flex;
    justify-content: space-evenly;
}

.top_footer_wrapper ul {
    margin-left: 13px;
}
.top_footer_wrapper ul a {
    text-decoration: none;
    color: rgb(193, 195, 197);
    line-height: 25px;
    font-size: 15px;
}
.top_footer_wrapper>div:nth-child(2) , .top_footer_wrapper>div:nth-child(3) {
        display: block;
        padding-top: 30px;
    }
.top_footer_wrapper>div:nth-child(2) {
    margin-left: 100px;
} 
.footer_container .top_footer_wrapper div {
    flex: 1;
}
.links_container {
    display: flex;
    width: 28%;
    padding-left: 25px;
    justify-content: space-evenly;
}
.footer_links_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.search_bar {
    display: flex;
    width: 40%;
    padding: 0;
}
.search_bar input{
    width: 56%;
    height: 30px;
    box-shadow: 0 0 5px 0.1px #ffffff6a;
}
.footer_links_container .search_bar {
    justify-content: center;
}
.links_container a:nth-of-type(4) svg {
    margin-left: -2px;
}  

.links h4 {
    font-weight: bold;
    color: #e4dfdf;
    padding-bottom: 6px;
}
}