.story_container {
    color: #000;
    margin: 15px auto;
    width: 83%;
    padding-top: 6px;
}
.aboutStory_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    border: 3px solid #000;
    margin: 25px auto;
}
.storyText_container div p {
    width: 100%;
}
.storyText_container div img {
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 0 5px 1px #0000002a;
}
@media (min-width:768px) {
    .story_container {
        display: flex;
        width: 84.5%;
        padding-top: 35px;
    }
    .aboutStory_container {
        height: 75vh;
        width: 80%;
    }
    .aboutStory_container h2 {
        font-size: 30px;
        text-align: center;
        width: 100%;
    }
    .storyText_container div img {
        width: 50%;
    }
    .storyText_container div p {
        width: 100%;
    }
    .storyText_container {
        padding-left: 205px;
    }
    .aboutStory_container {
        margin-top: 0;
    }
}