.learnMore_container {
    width: 73%;
    margin: 20px auto;
}
.learnMore_container p {
    color: #121212;
    width: 20rem;
    padding: 7px 0;
}
.learnMore_video_container {
    margin: 0 auto;
}
.learnMore_video_container .left_video_wrapper {
    margin-bottom: 30px;
}

.learnMore_container h2 {
    color: #000;
    text-align: center;
    margin-bottom: 33px;
}
@media (min-width:768px) {
    .learnMore_container {
        width: 93%;
        margin: 20px auto;
    }
    .learnMore_container h2 {
        color: #000;
        text-align: center;
        margin-bottom: 39px;
    }
    .learnMore_container p {
        color: #121212;
        width: 310px;
        padding: 5px 0;
        font-size: 14px;
    }
    .learnMore_video_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 83px;
    }
    
}