body {
    color: rgb(213, 211, 211);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    width: 80px;
    cursor: pointer;
}
.nav_container {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
    height: 90px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}
.nav_container.scrolled {
    background-color: rgba(0, 0, 0, 0.689);
}
.hamburger_menu {
    cursor: pointer;
}
.side_menu {
    position: fixed;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.745);
    transform: translateX(-100%); /* Start hidden off-screen */
    transition: transform 0.3s ease;
    padding-left: 20px;
    bottom: 0;
    left: 0;
    top: 90px;
    z-index: 1000;
}
/* When the menu is open */
.side_menu.open {
    transform: translateX(0); /* Slide in */
}
.side_menu ul {
    list-style: none;
    line-height: 30px;
    padding-top: 20px;
}
.side_menu ul li {
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 18px;
    cursor: pointer;
}
.side_menu li:hover {
    background-color: #444; /* Slight background change on hover */
    border-radius: 5px;
}
.side_menu li svg {
    margin-right: 10px; /* Space between icon and text */
    color: rgb(212, 208, 208);
}
.side_menu a {
    text-decoration: none;
    color: rgb(213, 211, 211);
}
.nav_items ul a {
    text-decoration: none;
    color: rgb(213, 211, 211);
}
/* Mobile styles */
@media screen and (max-width: 768px) {
    .nav_items {
        display: none; /* Hide nav items on mobile */
    }
    .nav_btn {
        display: none;
    }
}
/* on desktop */
@media screen and (min-width : 768px) {
    .hamburger_menu {
        display: none;
    }
    .side_menu {
        display: flex;
    }
    .nav_btn {
        background-color: #ff7a38;
        border: none;
        height: 36px;
        width: 110px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        color: black;
        padding-left: 27px;
        padding-top: 8px;
    }
    .nav_btn:hover {
        background-color: #fff;
        outline: 1px solid #ff5500;
        transition: all 0.1s ease;
    }
    .nav_items ul{
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        width: 38vw;
        cursor: pointer;
    }
    .nav_items ul li:hover {
        color: #fff;
    }
    .nav_items ul a {
        font-size: 19px;
    }
}