.goalWrapper_container {
    color: #000;
    width: 87%;
    margin: 10px auto;
}
.goalWrapper_container h1 {
    text-align: center;
}
.goalWrapper_container h1::after {
    content: '';
    display: block;
    width: 87%;
    margin: 5px auto;
    height: 1px;
    background-color: #2f2e2e28;

}
@media (min-width:768px) {
    .goalCards_container {
        display: flex;
        justify-content: space-around;
    }
    .goalWrapper_container h1::after {
        margin-bottom: 20px;
        width: 96%;
    }
}
