.contactCardWrapper_container {
    color: #000;
    margin-top: 40px;
}
.contactCardWrapper_container h1 {
    text-align: center;
}
.contactCardWrapper_container h1::after {
    content: '';
    display: block;
    width: 77%;
    height: 1px;
    background-color: #e2e2e2;
    margin: 5px auto 0;
}

@media (min-width:768px) {
    .contactCardWrapper_container {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .contactCards_container {
        display: flex;
        width: 98%;
        margin: 0 auto;
    }
}